@model dynamic
@{
    Layout = "_AdminLayout";
    var tempDay = "";
}

<div class='page1_content'>
    <div class='column'>

        <div class="section_header_row">
            <p class='section_txt'>รายการอุปกรณ์</p>
            <div class="tooltip">
                <button>i</button>
                <span class="tooltiptext">Hold to delete</span>
            </div>
        </div>

        <div class='selection_panel'>
            <div class='selection_box'>
            @foreach (var item in Model.tool)
            {
                
                <button class='sel_room_btn'>
                    <a asp-controller="Admin" asp-action="Index" asp-route-toolName="@item.toolName">
                        @item.toolName
                    </a>
                </button>
                
            }  
            </div>
        </div>
        <div class="section_header_row">
            <p class='section_txt'>เลือกเวลา</p>
            <div class="tooltip">
                <button>i</button>
                <span class="tooltiptext">Hold to delete</span>
            </div>
        </div>
        <div class='selection_panel'>
            <div class='selection_box'>
                <button class='sel_time_btn'>9:30 - 10:30</button>
                <button class='sel_time_btn'>10:30 - 11:30</button>
                <button class='sel_time_btn'>11:30 - 12:30</button>
                <button class='sel_time_btn'>13:30 - 14:30</button>
                <button class='sel_time_btn'>14:30 - 15:30</button>
                <button class='sel_time_btn'>15:30 - 16:30</button>
            </div>
            <hr>
        </div>
    </div>
    <hr class='page_divider'>
    <div class='column'>
        <p class='section_txt'>สถานะการจอง</p>
        <div class='list_box'>
        @{
            if(Model.history.Count != 0)
            {
                foreach (var date in Model.history)
                {
                    if (date.rentTime.ToString("dd/MM/yyyy") != tempDay)
                    {
                        tempDay = date.rentTime.ToString("dd/MM/yyyy");
                        <h3 class="date">วันที่จอง : @date.rentTime.ToString("dd/MM/yyyy")</h3>
                    
                        foreach (var item in Model.history)
                        {
                            if (item.rentTime.ToString("dd/MM/yyyy") == tempDay)
                            {
                                <div class='borrower_list'>
                                    <p>@item.studentNumber</p>
                                    <p>@item.toolName</p>
                                    <p>@item.rentTime.ToString("HH:mm") - @item.rentTime.AddHours(1).ToString("HH:mm")</p>
                                    <button>
                                        <a asp-controller="Admin" asp-action="Cancel" asp-route-id="@item.id" asp-route-toolName="@item.toolName">
                                            ยกเลิกการจอง
                                        </a>
                                    </button>
                                </div>
                                <hr>
                            }
                        }
                    }
                }
            }
            else{
                <div class='borrower_list'>
                    <p>
                    ไม่มีรายการจองในขณะนี้
                    </p>
                </div>
            }
            

        }
            
        </div>
    </div>
</div>