@model dynamic

@{
    Layout = "_AdminLayout";
}
<div class="tab_area">
    <button type="button" class="@ViewData["Page1"]" onclick="location.href='@Url.Action("Index", "Admin")'" >สถานะการจอง</button>
    <button type="button" class="@ViewData["Page2"]" onclick="location.href='@Url.Action("RoomAndTool", "Admin")'" >จัดการห้องและอุปกรณ์</button>
    <button type="button" class="@ViewData["Page3"]" onclick="location.href='@Url.Action("Blacklist", "Admin")'" >จัดการ Blacklist</button>
</div>
<div class="page2_content">
    <p class="section_txt">ห้องปฏิบัติการ</p>
    <div class="select_room_page2">
        @foreach (var item in Model.room)
        {
            <a asp-controller="Admin" asp-action="RoomAndTool" asp-route-roomName="@item.roomName">
                @item.roomName
            </a>
        }

    </div>
    <div class="section_header_row">
            <p class='section_txt'>จัดการอุปกรณ์</p>
            <div class="tooltip">
                <button>i</button>
                <span class="tooltiptext">กรุณาเลือกห้องปฏิบัติการ</span>
            </div>
    </div>
    <div class="tool_zone">
        @foreach (var item in Model.tool)
        {
            <div class="toolcard">
                <a asp-controller="Admin" asp-action="PlusCount" asp-route-toolName="@item.toolName">
                    <button class="increasebtn">+</button>
                </a>
                <a asp-controller="Admin" asp-action="MinusCount" asp-route-toolName="@item.toolName">
                    <button class="decreasebtn">-</button>
                </a>
                <div class="imgcontainer"><img class="toolimg" src="@item.imgUrl"></div>
                <div class="tooltext">
                    <p class="toolname">@item.toolName</p>
                    <p class="toolquantity">@item.maxCount</p>
                </div>
            </div>
        }

        @* <div class="toolcard">
            <button class="add_tool">+ เพิ่มอุปกรณ์ใหม่</button>
            </div> *@
    </div>
</div>
</div>