@model dynamic

@{
    Layout = "_SelectPageLayout";
}
<div class="midcontent">
    <p class="pageheader">จองอุปกรณ์</p>
    <div class="text-divider">เลือกห้อง</div>
    <div class="listbutton">
        @foreach (var item in Model.rooms)
        {   
            <a asp-controller="SelectPage" asp-action="Index" asp-route-id="@item.roomName">
                <button class="roombtn">@item.roomName</button>
            </a>
        }
    </div>
    <div class="text-divider">รายการอุปกรณ์</div>
    <div class="myButton">
        @foreach (var item in Model.tools)
        {
            <a asp-controller="SelectEquipment" asp-action="Index" asp-route-id="@item.toolName">
                <div class="btn_img_col">
                <INPUT type="image" class="pic_btn" src="@item.imgUrl" name="sss" value="@item.toolName">
                <p>@item.toolName</p>
                </div>
            </a>
        }
    </div>
</div>